
body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	background: #fff; 
    position:relative;
    color: #000000;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
	outline:none;
}

.container-fluid{
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
body a:focus {
    outline: none;
	text-decoration:none;
}

.container-fluid{
    padding: 0;
}


.mtop30{
    margin-top: 30px;
}

.marginTop6{
    margin-top: 6em;
}

.marginTopBottom6{
    margin: 6em 0;
}


.marginBottom10{
    margin-bottom: 10px;
}

.textCentre{
    text-align: center;
}

.font18{
    font-size: 18px !important;
}

.font14{
    font-size: 14px !important;
}

.font30{
    font-size: 30px;
}

.paddingZero{
    padding: 0;
}

.paddingZeroRight{
    padding-right: 0;
}

.paddingZeroLeft{
    padding-left: 0;
}

.greyColor{
    color: #727272;
}

.smakColor{
    color: #1488ED;
}

.handPointer{
    cursor: pointer;
}

/* Header Section Starts Here */

header{
    padding: 1em 10em 1em 10em;
    position: fixed;
    z-index: 999;
    background-color: #000000b5;
    width: 100%;
}

header img{
    height: 60px;
}

.logoSec{
    display: inline-block;
}

.contactSec{
    display: inline-block;
    float: right;
    padding: 1em 1.5em;
    background-color: #000;
    margin-top: 0.5em;
    border-radius: 10px;
}

.contactSec a{
    color: #fff;
    font-size: 16px;
}

.contactSec a:hover{
    color: #fff;
}



/* Header Section Ends Here */

/* Banner Start */

.carousel-caption{
    top: 11em;
}

.carousel-caption .text_container{
    
}

.carousel-caption h3{
    font-size: 50px;
    font-weight: 300;
}

.carousel-caption p{
    margin: 0.5em 0;
    font-size: 23px;
}



.carousel-caption h2{
    font-size: 50px;
}



.staticForm .feedbackForm{
    width: 330px;
    background: #f1f1f1;
    padding: 20px 25px;
    margin: 0 auto;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 9em;
    right: 8em;
}

.staticForm .otp-section{
    width: 330px;
    background: #192339;
    padding: 20px 25px;
    margin: 0 auto;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 4.5em;
    right: 110px;
}

.bannerFooter .container{
    background-color: #1488ED;
    padding: 2em 1em;
    text-align: center;
    position: relative;
    top: -40px;
}

.bannerFooter p{
    font-size: 30px;
    color: #fff;
}

/* Banner End */

/* About Section Starts Here */

.aboutSection{
    margin-top: 5em;
}   

.aboutImgHeight{
    height: 668px;
}

.aboutParaContent{
    background-color: #192B3A;
    padding: 5em;
    color: #fff;
    height: 668px;
}

.aboutPara{
    line-height: 28px;
    font-size: 18px;
    margin-top: 1.5em;
}

.ulHeading{
    margin-left: -15px;
    font-size: 18px;
}

.aboutParaContent ul{
    margin-left: 1em;
}

.aboutListItems li{
    font-size: 16px;
    line-height: 28px;
}


.pricingSec{
    display: inline-block;
}

.pricingSec hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #eee;
}
 
.pricingSec p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.rightPriceSec{
    text-transform: uppercase;
}


/* About Section Ends Here */


/* Facilities Section Starts Here */

.videoSection{
    text-align: center;
}

video{
    width: 590px;
    height: 343px;
}

.featureImageSec{
    width: 30%;
    display: inline-block;
    float: left;
    margin: 1.5%;
    overflow: hidden;
}

.featureImageSec img{
    transition: transform .2s;
}

.featureImageSec img:hover{
    transform: scale(1.2);
}

/* Facilities Section Ends Here */

/* Site Sec Styles Starts */

.nearBy{
    background-color: #E2F2FF;
    padding: 4em 0;
}

.locationItemSec{
    display: inline-block;
    width: 30%;
    background-color: #fff;
    padding: 1em;
    margin: 1.5%;
    border-radius: 10px;
}

.locationImgSec{
    display: inline-block;
    float: left;
}

.locationImgSec img{
    height: 112px;
}

.centerBlock{
    margin-left: 18%;
}

.locationTextSec{
    display: inline-block;
    float: left;
}

.locationTextSec p{
    font-size: 16px;
    font-weight: bold;
    margin: 34px 12px;
}

/* Site Sec Styles Ends */


/* Contact Section Starts Here */

.contactDetails{
    margin-top: 4em;
    background-color: #1488ED;
    color: #fff;
    padding: 2em 0;
    text-align: center;
}

.contactDetails .btn-default{
    font-weight: bold;
    padding: 1em 2em;
    font-size: 16px;
}

.contactDetails .btn-default:hover{
    font-weight: bold;
    padding: 1em 2em;
    font-size: 16px;
    color: #1488ED;
}

/* Contact Section Ends Here */

/* Map Section Starts */

.locationMap iframe{
    height: 400px;
}

.footerLinks{
    float: right;
}

.footerLinks a{
    margin: 0 0.5em;
    color: #fff;
}


/* Map Section Ends */


.mfp-close-btn-in .mfp-close{
    color: #fff;
}


.succesFormMessage{
    width: 350px !important;
    position: absolute;
    top: 4%;
    right: 10%;
    height: 290px;
    border: 2px solid #fff !important;
        background-color: #032e52  !important;
    font-size: 20px;
    line-height: 1.5;
}

.succesFormMessage h4{
    font-size: 20px !important;
    line-height: 1.4 !important;
    margin-top: 2em !important;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #ff4949;
    font-weight: 600;
}

/*OTP Section*/

.tCText{
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
}

.otp-section{
    display: block;
    padding: 3em 1em;
    background-color: #192339;
    color: #fff;
}

.resendtextMargin{
    margin-top: 1em;
}

.resendOtpButton{
    color: #0a4fea;
    border-radius: 25px
}

.thankYouImage{
    background-image: url(../images/thank_you.jpg);
    background-size: cover;
    height: 84vh;
}

/* Footer CSS */


footer{    
    background: #142E42;
    color: #fff;
    font-size: 15px;
    padding: 18px 0;
}

footer p{
    margin: 0;
}

.webView{
    display: block;
}

.mobView{
    display: none;
}





/*-- responsive-design --*/ 
/* 
Desktop Devices */

@media(max-width:1080px){

} 

/* Small Desktop or Laptob Starts */

@media(max-width:800px){

    .webView{
        display: none;
    }

    .mobView{
        display: block;
    }

    .centerBlock{
        margin-left: 0;
    }

    .locationItemSec{
        width: 40%;
    }

}

/* Small Desktop or Laptob Ends */

/* Tab Device strats here */

@media(max-width:736px){

}
@media(max-width:667px){

}

/* Tab device ends here */


@media(max-width:640px){


}

/* New Mobile Devices Starts */

@media(max-width:600px){

    .container{
        padding: 0;
    }

    .popup-enquiry-form .group  .form-group{
		width: 100%;
    }
    
    .succesFormMessage{
        width: 300px !important;
        position: absolute;
        top: 12em;
        right: 30px;
        height: 135px;
        font-size: 12px;
        line-height: 1.5;
        border: 2px solid #fff !important;
        background-color: #032e52  !important;
    }

    .succesFormMessage h4 {
        font-size: 15px !important;
        line-height: 1.4 !important;
        margin-top: 0em !important;
    }

    .mobileForm{
        width: 95% !important;
        margin-top: 0.5em !important;
    }
    
    .aboutSection h2{
        font-size: 16px;
    }

    .intro{
        margin-top: 2em;
    }

    .webView{
        display: none;
    }

    .mobView{
        display: block;
    }

    h1{
        font-size: 30px;
    }

    h3{
        font-size: 20px;
    }

    .topMargin2{
        margin-top: 2em;
    }

    .leftCommonImgSec img{
        height: auto;
    }
    
    .featuresSec .col-md-3{
        margin: 3em 0;
    }

    .brandImgSec {
        width: 40%;
        margin: 3%;
    }

    .centerBlock{
        margin-left: 1.5%;
    }

    .featureImageSec {
        width: 96%;
        display: inline-block;
        float: left;
        margin: 5% 1.5%;
    }


    .featuresSec .nav {        
        margin: 0 5%;
    }

    .thankYouImage{
        background-image: url(../images/thank_you_mobile.jpg);
        background-size: cover;
        height: 84vh;
    }

  

    .nav-pills>li+li {
        margin-left:initial;
    }

    video {
        width: 350px;
        height: 210px;
    }

    .onGoingProjects {
        width: 90%;
    }

    .locationMap iframe {
        height: 200px;
    }

    .copyrightSec{
        display: block;
        text-align: center;
    }

    .footerLinks {
        float: none;
        text-align: center;
        display: block;
        margin-top: 0.5em;
    }

    .iconSec{
        display: inline-block;
    }

    .locationName, .areaName {
        display: inline-block;
    }

    .aboutSection{
        margin-top: 0em;
    }

    .aboutImgHeight{
        height: auto;
    }

    .aboutParaContent{
        padding: 3em;
        height: auto;
    }

    .bannerFooter p{
        font-size: 18px;
    }

    .bannerFooter .container{
        top: -15px
    }

    .locationItemSec{
        width: 100%;
        display: inline-block;
    }




}
@media(max-width:480px){

}

/* New Mobile Devices Ends */

/* Medium Mobile Devices Ends */

@media(max-width:414px){

}

/* Medium Mobile Devices Ends */

/* smallest Phone */

@media(max-width:320px){

}

/*-- //responsive-design --*/

.feedbackForm{
    width: 280px;
	background: #f1f1f1;
    padding: 10px;
    margin: 0 auto;
}
.feedbackForm h4{
    margin: 0px 0 16px;
    font-weight: bold;
    color: #1488ed;
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
}

.feedbackForm .group .form-group{
    text-align: left;
}
.feedbackForm .group .form-group .fa{
	color: #673AB7;
    background: #fff;
    padding: 10px;
    margin-bottom: -2px;
	border: 2px solid;
	display: none;
}
.feedbackForm .group .form-group .form-control{
	font-weight: bold;
    color: #082109;
    text-transform: none;
    width: 100%;
    height: 40px;
    padding: 0px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: left;
    background-color: #edeef1;
    background-image: none;
    border: 0;
    border-bottom: 0.5px solid #737171;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-logo{
    text-align: center;
}
.form-logo img{
	width: 104px;
}

.feedbackForm .group .form-group .form-control::placeholder, .select2-container--default .select2-selection--single .select2-selection__rendered{
	font-weight: 500;
	color: #082109;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #082109 transparent transparent transparent;
}
.submitbtncontainer{
	text-align: right;
}
.submitbtncontainer input[type="submit"]{
	background: #1488ed;
    color: #fff;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    width: 100%;
    border-radius: 0;
    margin-top: 1em;
}
.list-style{
	display: list-item;
    list-style-position: inside;
}
.detail-section-holder ul{
	list-style: none;
}
.detail-section-holder ul LI{
	MARGIN-BOTTOM: 5PX;
    border-bottom: 1px solid;
}

/* floating box style */

.floating-form {
    max-width: 300px;
    z-index: 2;
    background: #F9F9F9;
    
    right: 10px;
    position: fixed;
	}
.contact-opener {
    position: absolute;
    left: -77px;
    transform: rotate(-90deg);
    border: 1px solid #fff;
    border-bottom: 0;
    top: 100px;
    background-color: #1488ed;
    padding: 9px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    letter-spacing: 1px;
    font-weight: bold;
}
.floating-form .feedbackForm{
    width: 100%;
    border: 2px solid #1488ed;
}
.popup-enquiry-form{
    max-width:320px;
    background: #fff;
   
    margin: 0 auto;
    position: relative;
}
.popup-enquiry-form .feedbackForm{
    width: 100%;
}
.mfp-close-btn-in .mfp-close{
	position: absolute;
	right: 0;
	width: 25px;
	height: 25px;
	line-height: 25px;
}
.popup-enquiry-form .feedbackForm .form-logo{
    width: 70%;
    margin: 0 auto 10px;
    text-align: center;
}
.popup-enquiry-form  .feedbackForm h4{
    text-align: center;
}
.popup-enquiry-form .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popup-enquiry-form .group  .form-group{
	width: 100%;
}

@media(max-width:600px){

}
.popup-enquiry-form .group  .form-group .select2-container{
	width: 100%!important;
}
.mfp-bg{
    background: #000000;
    opacity: 95%;
}

.select2-container .select2-selection--single{
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 32px;
}
.intl-tel-input .country-list .country .dial-code, .intl-tel-input .country-list .country .country-name{
    color: #000;
}
.intl-tel-input .selected-flag .iti-arrow{
    border-top: 4px solid #24c2d2;
}
.intl-tel-input{
    width: 100%;
}



