/* common Css Stats here */

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  
}

h1, h2, h3,h4,h5,h6{
    margin-top:0;
}

.banner_img{
    width: 100%;
}

body { 
  
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  color: #000;

}

.nav_blue{
    background-color: #001F3A !important;
    border-bottom: 3px #001F3A !important ;
}

.webView{
  display: block;
}

.mobView{
  display:none;
}


ul > li{
    display: inline-block;
    text-decoration: none;
}


.bg_blue{
    background-color: #1488ED;
    border: 1px solid #1488ED;
}


.clr_primary{
    color:#1488ED
}

.primary_blue{
    background-color: #E1F1FF;
}

.secondary_blue{
    background-color: #EEF7FF;
}

.text_Centre{
    text-align: center;
}

.text_left{
    text-align: left;
}


.btn.focus, .btn:focus, .btn:hover {

    color: #fff;
    text-decoration: none;
    outline: 0px auto -webkit-focus-ring-color;
}

.float_right{
  float: right;
}

.float_left{
    float: left;
}

.handpointer{
  cursor: pointer;
}


.displayNone{
  display: none;
}

.sec_heading{
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.sec_description{
    text-align: center;
    font-size: 20px;
    
}

.scroll_top{

    position: relative;
    float: right;
    bottom: 45px;
}


.padTop25{
    padding-top: 25px;
}

.mar0{
    margin: 0 !important;
}

.flexCol{
    display: flex;
    flex-direction: column;
}

/* common Ends Css Stats here */


/* Navbar Css */

.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ffffff;
    position: fixed;
    width: 100%;
}

.navbar {
    z-index: 99;    
    top: 0;
    min-height: 100px;
    margin-bottom: 0px;
    
}

.navbar-brand>img {
  display: block;
  
}

.navbar-nav{
    margin: 0;
    font-size: 16px;
    color: #fff;
}

.navbar-nav>li {    
    margin: auto 4px;
}

.navbar-nav>li.active{
    border-bottom: 3px solid white;
}

.nav>li>a{
  padding: 10px 17px;
  color: #fff !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0)
}

.navbar-default .navbar-collapse {
    border-color: #ffffff;
    margin-top: 57px;
}




.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #FFF;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.topBotomBordersOut a:after
{
    bottom: -3px;
    transform: translateY(-10px);
}


.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translatex(0px);
    
}


li.active a::after{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
}

/* Navbar Css ends Here */



/* Banner Css */

.banner-inner{
  position: relative;
}

.banner-caption{
    position: absolute;
    bottom: 20%;
    color: #fff;
}

.banner-caption h1{
  font-size: 50px;
  font-weight: 900;
  
  
}

.banner-caption p{
    margin-top: 30px;
    margin-bottom: 20px;    
    font-size: 21px;
}

.banner-caption .btn {
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    border-radius: 0px;
    border: 1px solid;
}

.banner-caption .btn:hover{

    background-color: #1488ED;
    border: 1px solid #1488ED;
    
}

ul.highLights {
    text-align: center;
    padding-inline-start: 0;
    margin-top: 50px;
    overflow: hidden;
}



ul.highLights>li {
    display: inline-block;
    text-decoration: none;
    margin: auto 20px;
    padding: 10px;
    border: 3px solid;
    font-size: 25px;
    font-weight: 700;
    width: 190px;
}

ul.highLights .bg_blue{    
    border: 3px solid #1488ED;
    box-shadow: -18px 20px 20px #0000001A;
      
}

/* Banner Ends Css */
#form_top{
    background-color: #fff;
    position: fixed;
    right: -264px;
    top: 28%;
    z-index: 9;
    min-width: 264px;
    width: 264px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


#form_top .legend{
    transform: rotate(-90deg);
    position: absolute;
    left: -171px;
    top: 126px;
    padding: 6px 75px;
    background-color: #1488ed;
    color: #FFF;
    cursor: pointer;
    border: 2px solid #fff;
} 

.legend:hover  #form_top{
    position: fixed;
    right: 0;
}




/* Banner Form CSS */




/* Banner Form CSS Ends*/



/* Features Css Starts */

#features .col-md-4{
    padding: 60px 70px;
    min-height: 440px;
}

#features .box h3{
    margin: 18px auto 20px;
}

#features .box p{
    padding-right: 34px;
    font-size: 20px;
    margin-bottom: 20px;
}

div#construction {
    background-color: #EEF7FF;
}

div#renovation {
    background-color: #E1F1FF;
}

button.readMore{
    background-color: rgba(255, 255, 255, 0);
    padding: 11px 15px;
    border: 1px solid #1488ed;
    color: #1488ed;
    font-size: 18px;
    font-weight: 600
}

.arrow{
    margin-left: 3px;
}

/* Features Css End */


/* HireUs CSS Starts */

#hireUs{
    margin-top: 80px;
}


h1.sec_heading {
    font-size: 30px;
    margin-bottom: 20px;
}

.experties .expert{
    padding-top: 30px;
}

.experties .col-md-2 {
    cursor: pointer;
    width: 16.666667%;
    text-align: center;
}

div.expert {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    
}

.expert p {
    padding: 8px 18px;
}

.expert:hover{
    background-color: #1488ED;
    color: #fff;
    box-shadow: -18px 20px 20px #0000001A;
}

.expert:hover  .invert{
    filter: invert(1);
    
    
}


/* HireUs CSS Ends*/


/* On Going Projrcts CSS */

#onGoing{
    margin-top: 50px;
    padding-top: 50px;
    background-color: #E1F1FF;
}

.projects{
    margin-top: 50px;
}

.project{
    background-color: #fff;
}

.projects .col-md-4{
    width: 30%;
    margin: 10px 15px 30px;
    min-height: 410px;
}

.project h3{
    position: relative;
    bottom: 25px;
    padding: 15px 14px;
    margin: 0 65px;
    color: #fff;
    font-weight: 600;
    border: 2px solid #0f6ec1;
}

.project .location{
    font-size: 18px;
    font-weight: 500;
}

.projectLocation{
    position: absolute;
    left: 10px;
    top: 50px;
    z-index: 9;
    background-color: #1488ED;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
}

.redirectButton{
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 9;
    color: #1488ed;
    background-color: #fff;
    border-color: #fff;
    font-size: 18px;
    padding: 5px 10px !important;
    border-radius: 0;
}

.redirectButton:hover{
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 9;
    color: #1488ed;
    background-color: #fff;
    border-color: #fff;
    font-size: 18px;
    padding: 5px 10px !important;
    border-radius: 0;
}

.videoSec{
    margin-top: 3em;
}

.videoSec h3{
    font-weight: 600;
}

video{
    width: 98%;
    height: 100%;
}

/* On Going Projrcts CSS Ends*/


/* Hire Experts Section CSS*/


.hireExperts h1.sec_heading{
    margin-top: 80px;
    padding-bottom: 9em;
}

#hireExperts_slider{
    position: relative;
    bottom: 17em;
}

.slick-prev:before {
    content: url(../images/arrow_prev.png);
}

.slick-next:before { 
    content: url(../images/arrow_next.png);
}

.slick-prev {
    left: -20px;
    z-index: 9;
}

.slick-next {
    right: 23px;
}

.sliderContainer{
    margin: 20px -5px;
}

.moulimSlider .slick-prev{
    left: 0;
    height: 50%
}

.moulimSlider .slick-next{
    right:48px;
    height: 50%
}

.slider_Item{

    text-align: center;
    margin: auto 22px;
    background-color: #e1f1ff;
    padding-bottom: 27px

}

.singleImg_slider .slider_Item{
    background-color: #fff !important;
}

.slider_Item h3{
    position: relative;
    bottom: 25px;
    padding: 15px 14px;
    margin: 0 36px;
    color: #000;
    font-weight: 600;
    background-color: #fff;
    font-size: 21px;
}

.btn-knowmore{
    border-radius: 0;
    background-color: #1488ed;
    border: none;
    color: #fff;
}

.btn-knowmore:hover{
    padding: 3px 23px !important;
}

.sliderTopMinusMargin{
    position: relative;
    top: -135px;
}

.singleImg_slider{

    margin-top: 40px;
} 

/* Advantages Section CSS */

#advantages{
    margin-top: 80px;
}

.advants{
   margin-top: 45px;       
}



.top p{
    margin-top: 25px;
}

/* guidance Section CSS Ends*/


/* Testimonial Section CSS  */


#testimonials{
    margin-top: 100px;
}

.testimonial_slider .slick-slide img {
    display: initial;
    width: 100px;
}

.testimonial_slider .slick-center img {
    display: initial;
    width: 150px;
}


.testimonial_slider .slick-slide p {
    padding: 24px 57px;

}

.testimonial_slider .slick-center p{
    font-size: 18px;
    padding: 24px 25px;
}

.testimonial_slider .slick-next:before, .testimonial_slider .slick-prev:before {
    content: ""
}

/* Testimonial Section CSS Ends */


/* footer CSS */

footer{
    background-color: #1488ed;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 20px 0 25px;
}


.footer_Item{
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.footer_Item h2{
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}

.copy_right p{
    text-align: center;
   
}

.footer_navs li{
    display: flex;
    flex-direction: row;
}

.footer_nav{
    padding-left: 25px;
    font-size: 20px;
    margin-bottom: 16px;
}

footer hr{
    border-top: 4px solid #eee;
}

.follow{
    padding-top: 16px !important;
    padding-bottom: 0;
}

.footer_nav>li>a:hover,
.footer_nav>li>a:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}

.footerLinks{
    text-align: right;
}

.footerLinks span{
    margin-left: 1em;
}

.footerLinks span:hover{
    text-decoration: underline;
}

span.footer_nav:hover{
    text-decoration: underline
}


/* footer CSS  Ends*/
.error{
    color: #790000;
    font-weight: 600;
    font-size: 16px;
}

/****************

ABOUT US PAGE CSS

********************/

    .aboutus_banner{
        position: relative;
    }


    .description_section{
        padding: 50px 0;
    }

    .desc_text p{
        font-size: 22px;
        padding: 60px 50px;
    }

    #values{
        background-color: #EEF7FF;
        padding-bottom: 24px;
    }

    .core-values {
        padding-top: 24px;
    }


    .core-values.right{
        padding-bottom: 80px;
    }

    .core-values h1 {
        font-size: 28px;
        color: #1488ED;
        margin-bottom: 20px;
        font-weight: 700;
    } 

    .about.sub_footer .footer_Item{
        padding: 0px 51px 20px;
    }

    .core-values p{
        font-weight: 600;
        font-size: 18px;
    }

    .core-values p span{
        margin-right: 10px;
    }

    .strengths{
        margin: 25px auto;
    }

    .strengths h2{
        font-weight: 700;
    }

    .strength li{
        font-size: 19px;
        margin-bottom: 5px;
    }


/****************

ABOUT US PAGE CSS Ends

********************/


/****************

Modified About and Service Page CSS Starts Here

********************/

.aboutdesc{
    font-size: 22px;
    padding: 10px 0px;
}

.aboutdesc h1{
    margin-top: 0.5em;
}

.aboutdesc p{
    margin-top: 1.5em;
    font-size: 19px;
}

.we_do h3 {
    padding: 0px 18px;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}

.experties .expert{
    padding: 10px;
}

.mtop15{
    margin-top: 15px;
}


#enquiry{
    padding: 50px 0 25px;
    color: #FFFFFF;
}

#enquiry p{
    font-size: 24px;
}

#enquiry button{
    padding: 20px 54px;
    color: #1488ED;
    border: none;
    font-size: 22px;
    position: relative;
    bottom: 14px;
}
.D_block>li{
    display: block;
    font-size: 18px;
    padding: 10px 0;
}

.D_block span{
    padding-right: 5px;
}

.text_desc{
    padding-left:30px ;
}

.text_desc p{
    font-size: 18px;
}


/****************

Modified About and Service Page CSS Ends Here

********************/


/********
Contact us Page Css

********/

    .contact {
        margin: 60px auto;
    }

    .mailSec a{
        color: #000;
    }

    .mui-form legend{
        font-size: 34px;
    }

    .mui-textfield--float-label > label {   
        font-size: 20px;
        line-height: 30px;
        color: #717171    
    }

    .mui-btn,.mui-btn:hover, .mui-btn:focus, .mui-btn:active {
        color: #fff;
        background-color: #1488ED;
    }

    .contactbox {
        padding: 25px;
    }

    .address p{
        font-size: 20px;
    }

    .address .block{
        margin-top: 20px;
    }

    iframe {
        height: 600px;
    }


/********

Contact us Page Css Ends 

********/



/********

How to go about it? Page Css

********/

#howItWorks{
    padding: 50px 0;
}

.steps{
    margin: 50px auto
}

.step{
    padding: 0 18px;
}

.step p{
    font-size: 22px;
    margin-top: 18px;
}


/********

How to go about it? Page Css Ends

********/



/********

architects Page Css

********/

.Questionary{
    background-color: #1488ED;
    color: #FFF;
    padding: 100px 0;
}


.Questionary .sec_heading{
    margin-bottom: 10px;
}


.Questionary .sec_description {    
    margin-bottom: 50px;
}



.Question {
    padding: 20px;
}

.Questionary .form-control {
    color: #fff ;
    background-color: rgba(255, 255, 255, 0) ;
    border: 1px solid #fff;
    border-radius: 0px;
    height: 80px;
    font-size: 20px;
}


.Questionary .mui-btn{      
    text-align: left;
}


.Questionary label {
    display: block;    
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 19px;
    color: #fff;
}

.Questionary .form-control::-webkit-input-placeholder {
    color: #fff;
    font-size: 20px;
}


select:required:invalid {
color: #fff;
}

option[value=""][disabled] {
display: none;
}

option {
color: black;
}

.btn-enquiry,
.btn.focus,
.btn:focus,
.btn:hover{
    color: #1488ed;
    background-color: #fff;
    border-color: #fff;
    font-size: 18px;
    padding: 18px 25px;
    border-radius: 0;
}

/********

architects Page Css Ends

********/




/********

Flooring Page Css 

********/

#services{
    padding: 70px 0;
}

.service{
    padding: 0 20px;
}

.service h3{
    font-weight: 600;
    margin-top: 10px;
}


/********

Flooring Page Css Ends

********/


/********

Terms and Condition Page CSS Starts

********/

.terms{
    margin: 4em 0;
}

.terms p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #3f4850;
}

.terms h4{
    color: #084377;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2em;
}

.terms .bulletPoints{
    margin-bottom: 15px;
    padding-left: 20px;
}

.terms .bulletPoints li {
    list-style-type: none;
    background: url(../images/pointer_arrow.png) no-repeat;
    padding-left: 28px;
    padding-bottom: 10px;
    color: #516f84;
    line-height: 23px;
    font-size: 14px;
    font-weight: 500;
    display: block;
}

/* 404 error page style starts here */

.errorPageContainer{
    height: calc(100vh - 100px);
    padding: 0px 0;
    background-image: url(../images/page_not_found.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    margin-top: 7em;
}


/* 404 error page styles ends here */

/* interior Page css starts Here */


.banner-caption  h1#interior {
    font-size: 45px !important;
    font-weight: 700;
    line-height: 1.1;
}

#features .col-md-3 {
    padding: 45px 40px;
    min-height: 440px;
}

#visualization{
    background-color: #D2EAFF;
}

.interior_service{
    overflow: hidden;
    position: relative;
    
}



.interior_service h3{
    position: absolute;
    top: 40%;
    left: 40%;
    color: #fff;
    padding: 20px 30px;
    background-color: #1488ED;
    box-shadow: 0px 0px 99px #0088FF;
    opacity: 0.8;
    visibility: hidden;

}

#our_Projects{
    padding-top: 50px;
}

.projectslider{
    margin-top: 35px;
}

.projectsSlider .slick-prev,
.projectsSlider .slick-next{
    position: absolute;
    top: 33% !important;
}

.P_slider .slider_Item{
    background-color: #fff;
}

.P_slider .slider_Item>h2{
    margin-top: 15px;
}


/* interior Page styles ends here */


/* Small Desktop or Laptob Starts */

@media(max-width:800px){
    
    .webView{
        display: none;
    }

    .mobView{
        display: block;
    }

    .projects .col-md-4{
        width: 44%;
    }

    .service h3{
        font-size: 18px;
    }

}


/* Medium Devices, Desktops */
        @media only screen and (min-width : 992px ) and (max-width :1200px){


            .nav>li>a {
                padding: 10px 14px;
                color: #fff !important;
            }   

            .navbar-nav>li {
                margin: auto 2px;
            }

            .banner-caption {
                position: absolute;
                top: 37%;
            }

            .banner-caption h1 {
                font-size: 43px;
                font-weight: 700;
            }

            .banner-caption h1 {
                font-size: 43px;
                font-weight: 700;
            }

            .banner-caption h1 {
            font-size: 43px;
            font-weight: 700;
            }

            ul.highLights {
                text-align: center;
                padding-inline-start: 0;
                margin-top: 0;
                overflow: hidden;
            }

            ul.highLights>li {
                display: inline-block;
                text-decoration: none;
                margin: auto 7px;
                padding: 13px 21px;
                border: 3px solid;
                font-size: 24px;
                font-weight: 700;
            }






        }


/* media Query For max With 600px */

        @media only screen and (max-width: 600px)  {
            .modal-dialog{
                width: auto;
            }
            .webView{
                display: none;
            }
            
            .mobView{
            display:block;
            }

            h1.sec_heading {
                font-size: 20px;
            }

            .projects .col-md-4{
                
                margin: 10px 30px;
            }
            
            .projects .col-md-4,
            .advant {
                width: initial !important;
            }

            .sec_description {
                text-align: center;
                font-size: 15px;
            }


            .navbar-default .navbar-toggle{
                border: none;
            }

            .navbar-toggle .icon-bar {
                display: block;
                width: 30px;
                height: 3px;
                
            }

            .navbar-default .navbar-toggle .icon-bar{
                background-color: #FFF;
            }

            .navbar-toggle{
                margin: 32px 11px;
            }

            .navbar-default .navbar-toggle:focus,
            .navbar-default .navbar-toggle:hover{
                background-color: rgba(255, 255, 255, 0);
            }

            .navbar-default .navbar-collapse {
                border-color: #ffffff;
                margin-top: 9px;
                float: left;
                padding-right: 55%;
            }

            .navbar-default{
                background-color: #001F3A !important;
                border-bottom: 3px #001F3A !important;
            }

            



            /* Banner CSS */

            ul.highLights>li {
                display: block;
                text-decoration: none;
                margin: 11px auto;
                margin-left: 0;
                padding: 21px 31px;
                border: 3px solid;
                font-size: 18px;
                font-weight: 700;
                width: 220px;
            }

            .banner-caption h1 {
                font-size: 35px;
            }

            .banner-caption p {
                margin-top: 13px;
                margin-bottom: 0;
                font-size: 18px;
            }

            .project{
                padding-bottom: 10px;
            }

            .project h3{
                font-size: 20px;
            }

            .redirectButton{
                top: 10px;
            }
            
            .projectLocation{
                top: 10px;
            }

            .videoSec{
                margin-left: 0;
            }

            



            
            

            /* HireUs CSS Starts */

            .experties .col-xs-6{
                width: 50% !important;
                min-height: 225px;
            }

            #hireExperts_slider {
                position: relative;
                bottom: 12em;
            }

            .advant {       
                margin: 26px 10px;
            }

            .advant .bottom{
                padding: 0 5px 15px;
            }

            #testimonials {
                margin-top: 50px;
            }

            .sub_footer {
                margin-top: 6px;
            }

            .flexrow{
                flex-direction: row;
            }

            .follow{
                padding-left: 37px;
            }

            .footer_Item{
                margin: 20px auto;
                padding-left: 0;
            }

            .footer_nav{
                padding-left: 10px;
            } 
            
            

            
            .footer_nav li{
                display: inline-block;
            }

            .copy_right p{
                text-align: center;
            }


            footer .float_left, footer .float_right{
                float: none;
            }

            .footerLinks{
                text-align: center;
            }

            .footerLinks span{
                display: block;
            }


            /***********
            about page mobile screen CSS
            
            ***********/
            .aboutdesc p {
                margin-top: 1em;
                font-size: 16px;
            }

            .desc_text p {        
                padding: 34px 5px;
            }

            .core-values {
            
                padding: 35px 25px;
            }

            .about.sub_footer .footer_Item {
                padding: 0px 15px 20px;
            }


            /***********
            contact us page mobile screen CSS
            
            ***********/


            .contactbox {
                padding: 25px 10px;
            }


            iframe {
                height: 300px;
            }


            /***********            
            Architecture page mobile screen CSS
            
            ***********/

            .step {
                padding: 0;               
                margin: 18px auto;
            }

            .step p{
                font-size: 16px;
            }

            /* New CSS Starts Here */

            .aboutdesc {
                font-size: 18px;
                padding: 0 4px;
            }

            .aboutdesc h1{
                font-size: 28px;
                font-weight: 700;
            }

            .aboutdesc b{
                font-weight: 500;
            }

            .we_do{
                text-align: center;
                margin-top: 14px;
            }

            .we_do>h3, .we_do>p{
                padding: 0;
                padding-left: 10px;
                padding-bottom: 10px;
            }

            #enquiry button {
                padding: 20px 54px;
                color: #1488ED;
                border: none;
                font-size: 22px;
                position: relative;
                bottom: 0;
                background-color: #ffffff;
            }

            .text_desc h1{
                font-size: 30px;
                margin-top: 20px;
            }

            .D_block{
                padding: 0;
            }


            /* New CSS Ends Here */


            /* Page Not found CSS Starts Here */

            .errorPageContainer{
                height: calc(70vh - 100px);
                padding: 0px 0;
                background-image: url(../images/page_not_found_mobile.png);
                background-position: center;
                background-size: auto;
                background-repeat: no-repeat;
            }


            /* Page Not Found CSS Ends Here */


            /* interior page css */

            .banner-caption h1#interior {
                font-size: 41px !important;
                font-weight: 500;
                line-height: 1;
                background-color: #00000021;
                padding: 10px;
            }


            .interior_service h3{
                position: relative;
                top: inherit;
                left: inherit;
                visibility: visible;
            }

            

        }